#header #header-wrap #logo a > img {
	border-radius: 50%;
	height: 75px;
	padding-top: 2.5px;
}

#section1 {
	border-size: cover;
}


.copyright-content {
    border-top: 1px solid #222;
    min-height: 80px;
    padding: 30px 0;
}

#header.header-sticky #header-wrap {
	transition: top 2.8s ease-in-out;
}

.rickroll {
	color: #1abc9c;
}

.edu {
	min-height: 74px;
}

.background-opaque {
    background: rgba(0, 0, 0, 0.5);
}

.border-right {
	min-height: 338px;
}

#panel-left {
	height: 483px
}

#einstein {
	background-size: cover;
}


@media screen and (max-width: 1020px) {
  #einstein {
   	background-repeat: no-repeat !important;
   	background-size: contain !important;
    height: 340px !important;
  }

  #mypos {
	margin-top: 6em !important;
  }

  #aboutme {
  	margin-top: 2em;
  }
  
  #section1 {
    height: 320px !important;
  }
}